load_module modules/ngx_http_modsecurity_module.so;

server {
    listen 443 ssl;
    server_name {{ lb_common_name }};

    ssl_certificate {{ ssl_cert_path }};
    ssl_certificate_key {{ ssl_key_path }};

    modsecurity on;
    modsecurity_rules_file /etc/nginx/modsecurity.conf;

    include /etc/nginx/modsec_rules/*.conf;

    location / {
        proxy_pass https://{{ zunip_backends[0] }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
