---
###############################
# 1) Ansible Control (Jenkins, ngrok)
###############################
- name: Setup Ansible control node with Jenkins + ngrok
  hosts: ansible_control
  become: true
  vars:
    jenkins_http_port: 8080
  roles:
    - ansible_control

################################
# 2) Zulip 서버 (172.16.6.52) + WAF
################################
- name: Setup Zulip Docker WAF node
  hosts: zulip
  become: true
  vars:
    waf_dir: /opt/waf
    repo_dir: /opt/docker-zulip
    zulip_backend: "172.16.6.52:80"
  roles:
    - zulip_waf

#########################################
# 3) Monitoring (172.16.6.53)
#########################################
- name: Setup Monitoring node
  hosts: monitoring
  become: true
  vars:
    mon_dir: /opt/monitoring
    prometheus_config: /opt/monitoring/prometheus/prometheus.yml
  roles:
    - monitoring

#########################################
# 4) Node Exporter (all)
#########################################
- name: Install Node Exporter
  hosts: all
  become: true
  roles:
    - node_exporter

