---
# roles/lb_setup/tasks/main.yml

# ==================================
# 1) Vars
# ==================================
- name: Set Load Balancer configuration variables
  ansible.builtin.set_fact:
    zulip_backends:
      - 172.16.6.52
      - 172.16.6.54

# ==================================
# 2) Install nginx
# ==================================
- name: Install nginx
  ansible.builtin.dnf:
    name: nginx
    state: present

# ==================================
# 3) Deploy nginx load balancer config (HTTP only)
# ==================================
- name: Deploy nginx HTTP reverse proxy config
  ansible.builtin.template:
    src: "nginx_lb_http.conf.j2"
    dest: "/etc/nginx/conf.d/zulip_lb.conf"
    mode: '0644'
  notify:
    - restart nginx

# ==================================
# 4) Start and enable nginx
# ==================================
- name: Start and enable nginx
  ansible.builtin.systemd:
    name: nginx
    state: started
    enabled: true
